* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.logo {
  height: 35px; }
  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }

.heading-primary-main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s; }

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 17.5px;
  font-weight: 700;
  animation-name: moveInRight;
  animation-duration: 1s; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-secondery {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem; }
  .heading-secondery:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-teritory {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -24vh;
  height: 135vh; }

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.897)), url("/img/nat-4.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: -4rem;
  transform: skewY(-4deg); }
  .section-features > * {
    transform: skewY(4deg); }

.section-tour {
  background-color: #f7f7f7;
  padding: 10rem 0 50rem 0;
  margin-top: -3rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 100px;
  position: relative; }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.897)), url("/img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative; }

.col-1-of-2 {
  width: 45%;
  float: left;
  padding: 0 5%; }

.composition {
  position: relative; }
  .composition__photo {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    width: 75%;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      left: 10rem;
      top: 3rem; }
    .composition__photo--p3 {
      right: 15rem;
      left: 0rem;
      top: 6rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      border: 0.8rem solid #55c57a;
      padding: 1rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.col-1-of-4 {
  float: left;
  width: 20%;
  margin: 2%;
  height: auto; }

.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem black;
  transition: all 0.3s;
  cursor: pointer; }
  .features-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.features__row {
  padding: 0 5%; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem;
  transition: all 0.8s ease;
  position: relative;
  cursor: pointer; }
  .card-side {
    height: 30rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15); }
  .card__side-front {
    background-color: #f7f7f7; }
  .card__side-back {
    background-color: #fff;
    transform: rotateY(180deg); }
    .card__side-back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
  .card:hover .card__side-back {
    transform: rotateY(0deg); }
  .card-picture {
    background-size: cover;
    height: 12rem;
    background-blend-mode: screen;
    border-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/nat-5.jpg"); }
    .card-picture-2 {
      background-image: url("../../img/nat-5.jpg"); }
    .card-picture-2 {
      background-image: url("../../img/nat-5.jpg"); }
  .card_heading {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 7rem;
    right: 0rem;
    color: white;
    width: 55%; }
    .card_heading__span-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card-details {
    padding: 10px; }
    .card-details ul {
      list-style: none;
      padding: 0;
      margin: 0 auto; }
    .card-details li {
      color: black;
      text-align: center;
      font-size: 0.8rem;
      padding: 0.5rem;
      border-bottom: 2px solid #eee; }
      .card-details li:note(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    color: #fff; }
  .card__price-value {
    font-size: 4rem; }

.tour_row {
  padding: 0 15%; }

.col-1-of-3 {
  width: 25%;
  float: left;
  margin: 3%; }
