.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background: white;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 3.5rem;
    right: 4.5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 4.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    // transform: scale(90);
    transition: transform 0.8s;
  }
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    display: none;
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 210%;
      transition: all 0.4s;
      padding: 10px;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-dark;
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
    display: block;
  }
  &__checkbox:checked ~ &__nav {
    display: block;
  }
}
