.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem;
  transition: all 0.8s ease;
  position: relative;
  cursor: pointer;
  &-side {
    height: 30rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1rem 4rem rgba($color-black, $alpha: 0.15);
  }
  &__side-front {
    background-color: $color-grey-light;
  }
  &__side-back {
    background-color: $color-white;
    transform: rotateY(180deg);
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-orange-light,
        $color-orange-dark
      );
    }
  }
  &:hover &__side-front {
    transform: rotateY(-180deg);
  }
  &:hover &__side-back {
    transform: rotateY(0deg);
  }
  &-picture {
    background-size: cover;
    height: 12rem;
    background-blend-mode: screen;
    border-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-orange-light,
          $color-orange-dark
        ),
        url("../../img/nat-5.jpg");
    }
    &-2 {
      background-image: url("../../img/nat-5.jpg");
    }
    &-2 {
      background-image: url("../../img/nat-5.jpg");
    }
  }
  &_heading {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 7rem;
    right: 0rem;
    color: white;
    width: 55%;

    &__span {
    }
    &__span-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-orange-light,
        $color-orange-dark
      );
    }
  }
  &-details {
    padding: 10px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }
    li {
      color: black;
      text-align: center;
      font-size: 0.8rem;
      padding: 0.5rem;
      border-bottom: 2px solid #eee;
      &:note(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }
  }
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__price-box {
    text-align: center;
    color: $color-white;
  }
  &__price-only {
  }
  &__price-value {
    font-size: 4rem;
  }
}
