.col-1-of-4 {
  float: left;
  width: 20%;
  margin: 2%;
  height: auto;
}
.features-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 1.5);
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
