.logo {
  height: 35px;
  &-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }
}
.heading {
  &-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  &-primary-main {
    display: block;
    font-size: 60px;
    letter-spacing: 35px;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
  }
  &-primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 17.5px;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
  }
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-secondery {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary,
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
.heading-teritory {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  // &:not(:last-child) {
  //   margin-bottom: 8rem;
  // }
}
